footer {
  padding: 40px 2rem;
  border-radius: 8px 8px 0 0;
  margin: 60px 0 0;
  background-color: #111;
  color: #bbb;

}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.footer-card {
  /*background-color: #1f1f1f;*/
  min-width: 300px;
  line-height: 1.6;
  padding: 24px;
  border-radius: 5px;
}

.footer-title {
  color: #D4AF37;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer p,
a {
  margin-bottom: 0.5rem;
}

.footer-card p {
  color: #bbb;
  text-decoration: none;
  font-size: 0.95rem;

}

footer a {
  display: block;
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #f1c40f;
  text-decoration: underline;
}

footer i {
  color: #fcbf49;
  margin-right: 0.5rem;
}