* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E1E1E;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  
}

::selection {
  background-color: #f1c40f;
  color: #000;
}
